
$font-family-sans-serif: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$yellow: #faff15;
$secondary: $yellow;
$pink: #fd14f5;
$warning: $pink;
$green: #14fd32;
$primary: $green;
$blue: #148ffd;
$success: $blue;
$teal: #14fda2;
$cyan: #14f3fd;
$orange: #fdc314;
$red: #fd4614;
$purple: #8714fd;
$indigo: #3614fd;